{#
/**
 * @file alert.html.twig
 * Default theme implementation to present Alert data.
 *
 * This template is used when viewing Alert pages.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - dissmissable: Whether this content can be dismissed by the user.
 * - dismiss_timer: When the alert will automatically be dismissed (if ever).
 *
 * @see template_preprocess_alert()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'messages',
    'messages--warning',
  ]
%}
<div{{ attributes.addClass(classes) }}>
    {% if content %}
      {{- content -}}
    {% endif %}
    {% if dismissable %}
      <a href ="#" class="alert--close">Close</a>
    {% endif %}
</div>
